.flex {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: var(--flex-direction, row);
  justify-content: var(--justify-content, center);
  align-items: var(--align-items, center);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, auto), var(--col-size, 1fr));
  grid-template-rows: repeat(var(--rows, auto), var(--rows-size, 1fr));
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: var(--flex-direction, column);
  justify-content: var(--justify-content, center);
  align-items: var(--align-items, center);
}

/* Components */
.btn {
  width: var(--width, 6rem);
  height: var(--height, 2.5rem);
  color: var(--text-color-btn);
  background-color: var(--btn-background, #538af7);
  font-weight: var(--font-weight, 500);
  padding: var(--btn-padding);
  text-align: center !important;
  cursor: pointer !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  font-size: 1.15rem;
  border-radius: .625rem;
}

.input {
  width: 100%;
  padding: .825rem 1.1875rem;
  font-size: var(--font-size,1.225rem);
  font-weight: 400;
  line-height: 1.1;
  color: var(--text-color-input);
  background-color: transparent;
  appearance: none;
  border-left: none;
  border: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
}

input::placeholder {
  font-size: 1.3rem;
 /*  color: var(--text-color); */
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* toggle button styles */

.toggle-box {
  margin-right: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 38px;
  height: 20px;
  background: #c0c0c0;
  /* #EFEFEF */
  border-radius: 10px;
  transition: all 0.2s;
  bottom: -5px;

}

.toggle-box i {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 15%;
  transition: all 0.2s ease;
}

h1,h2,h3,h4,h5,p {
  color: var(--text-color);
}

.tooltip {
  position: relative;
  cursor: pointer;
}

/* Tooltips */

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

/* user selection styles */

::selection {
  background-color: #ffa722;
  color: var(--text-color);
  opacity: 1;
}


::-moz-selection {
  background-color: #fd7e14;
  color: var(--text-color);
}

/* scroll bars  */

::-webkit-scrollbar {
  width: 12px;
  background-color: color-mix(in srgb, var(--text-color), transparent 50%);
  opacity: 0.2;
  /* border-radius: 1rem; */
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--primary-body-bg), transparent 60%);
  /* border-radius: 1rem; */
}


/* Don't change */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Animations */

@keyframes rotate {
  from {
      --angle: 0deg;
  }
  to {
      --angle: 360deg;
  }
}


/* Custom properties */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}