
body{

    font-family: Inter;
}

.profile{
    margin: 10% auto 0 auto;
    display: flex;
   justify-content: space-around;
}

.profile-name{
    font-size: 5rem;
    font-weight: bold;
}

img{
    border-radius: 20%;
    width: 15rem;
    height: auto;
}
.profile-role{


    font-size: large;
}

.stats{
    margin: 9% ;
    border: 1px solid black;
    display: inline-block;
    
}
.util-block{
    display: inline-block;
}